<!DOCTYPE HTML>
<html>
 <head>
   <title>{% block main_title %}Grow-Hub Sensor Server{% endblock %}</title>
   {% block css %}
   <link rel="stylesheet" href="{{url_for('static', filename='css/default.css') }}" />
   {% endblock %}
 </head>
 <body>
  {% block header %}
  <header>
   <h1>Grow-Hub Server</h1>
  </header>
  {% endblock %}
  {% block main %}
  <article>
  </article>
  {% endblock %}
  {% block footer %}
  <footer>
   &copy; {% if now %}{{ now.year }}{% endif %} Jeremy Nelson, Timothy Semple
  </footer>
  {% endblock %}  
 </body>
</html>
