{% extends 'layout.html' %}

{% set uuid = plant.split("/")[-1] %}

{% block main %}
<h1>
    {{ plant|get_label('en') }} 
</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<h3>Messages</h3>
<ul>
    {% for row in messages %}
    <li>{{ row }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="{{ url_for('plant', uuid=uuid) }}" method="POST">
    <input type="hidden" name="action" value="water"></input>
    <input type="submit" value="Water"></input>
</form>
<div>
    <h3>Activity Log</h3>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Activity</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for row in activity %}
            <tr>
                <td>{{ row.date }}</td>
                <td>{{ row.activity }}</td>
                <td>{{ row.description }}</td>
            </tr>
        {% endfor %}
        </tbody> 
    </table>

</div>
{% endblock %}
